{{#extend "head_css"}}

{{/extend}}

<h1>用户列表</h1>
<button class="btn btn-success btn-sm" id="btn_get">添加</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th>id</th>
        <td>用户名</td>
        <td>标题</td>
        <td>内容</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
    <tr data-id="{{id}}">
        <th>{{id}}</th>
        <td>{{showName username}}</td>
        <td>{{title}}</td>
        <td>{{content}}</td>
        <td>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm delBtn">删除</a>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>

{{#extend "scripts"}}
<script type='text/javascript' src='{{jsPath}}/user.js'></script>
{{/extend}}
