{{#extend "stylesheets"}}
<style>
    .h20 {
        height: 20px;
    }
</style>
{{/extend}}
<div class="page-header">
    <h1>{{title}}</h1>
</div>

{{#if username}}
    <div class="alert alert-success" role="alert">
        用户名：<span>{{username}}</span>  <a href="/logout">退出登录</a>
    </div>

    <!--<div class="list-group">
        <a href="/users" class="list-group-item">用户列表</a>
        <a href="#" class="list-group-item">文件上传</a>
    </div>-->
{{else}}
    <div class="alert alert-warning" role="alert">
        请您 <a href="/login">登录</a>
    </div>
{{/if}}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">首页</a></li>
    <li role="presentation"><a href="/topics">文章列表</a></li>
    <li role="presentation"><a href="/users">用户列表</a></li>
</ul>

<div class="h20"></div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>分支名称</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{#each list}}
        <tr>
            <td>{{name}}</td>
            <td><span class="label label-default">未发布</span></td>
            <td class="text-center">
                <a href="#" class="btn btn-success btn-xs">详情</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<!--<form method="post" action="/profile" enctype="multipart/form-data">
    <div class="form-group">
        <label for="username">用户头像：</label>
        <input type="file" name="avatar"/>
        <p class="help-block">说明：用来测试上传一个文件</p>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">上传</button>
    <input type="button" id="testAjax" class="btn btn-primary btn-sm" value="测试AJAX请求"/>
</form>

<form method="post" action="/photos/upload" enctype="multipart/form-data">
    <div class="form-group">
        <label for="username">文档图片：</label>
        <input type="file" name="photos" multiple/>
        <p class="help-block">说明：用来测试上传多个文件</p>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">上传</button>
</form>-->

{{#extend "scripts"}}
    <script src="/javascripts/index.js"></script>
{{/extend}}
