{{#extend "stylesheets"}}

{{/extend}}

<div id="comments">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>用户邮箱</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{#each res}}
            <tr>
                <td>用户详情： {{email}} </td>
                <td>
                    <a href="/users/getUser/{{userId}}" class="btn btn-primary btn-xs">详情</a>
                    <a href="/users/deleteUserById/{{userId}}" class="btn btn-danger btn-xs">删除</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{#extend "scripts"}}
    <script>


    </script>
{{/extend}}
