{{#extend "stylesheets"}}

{{/extend}}

<ul class="list-group">
    <li class="list-group-item">用户详情： {{res.email}}</li>
    <li class="list-group-item">用户ID：{{res.userId}}</li>
</ul>

<a href="/users" class="btn btn-primary btn-xs">返回</a>

{{#extend "scripts"}}

{{/extend}}
